/*#region Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*#endregion */

/*#region Globals */
/*#endregion */

/*#region Navigation */
.navbar-toggler {
  border: 0 solid;
}
/*#endregion */

/*#region Content */
.header-img {
  object-fit: cover;
  object-position: 100% 75%;
  width: 100%;
  height: 70px;
}

.header-container {
  padding-bottom: 1.5rem;
}

.header-title {
  margin-left: 110px;
}

.header-icon {
  background-color: #343a40;
  height: 10% !important;
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 27px;
  padding: 10px;
}

.icon-bar {
  background-color: #f1f1f1 !important;
  justify-content: center;
  height: 600px;
}

.icon-bar p {
  font-size: 0.6rem;
  text-align: center;
  left: 50%;
}

.icon-bar img {
  width: 25px;
  height: 25px;
  margin-top: 15px;
}

button {
  padding: 0% !important;
}

button:focus {
  border: none !important;
  outline: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.icon-button {
  justify-content: center;
  vertical-align: middle;
  scale: 1;
  transition: transform 600ms;
  width: 100%;
}

.icon-button:hover {
  transform: scale(1.2);
}

.icon-button:focus {
  background-color: #dcdcdc;
  border: none !important;
  outline: none !important;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000;
  transition: color 600ms;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(52, 58, 64, 0.7);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/*#endregion */

/*#region Media Queries */
html {
  font-size: 1rem;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
}
/*#endregion */
